@keyframes fadeInUp{
  0%{
    opacity:0;
    transform:translateY(-40px)
  }
  100%{
    opacity:1;
    transform:translateY(0)
  }
};


#timer-seconds, #timer-hours, #timer-minutes {
  transition:all .6s ease-in-out;
  animation: fadeInUp 3.5s
}
.timer-animated {
  animation: fadeInUp 3.5s
}

